{% extends "penner/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if message %}

<p>{{ message }} </p>
{% endif %}
<div class="card" style="width: 18rem; ml-6">
    <div class="card-body">
      <h5 class="card-title">Penner Expense Tracking</h5>
    <form action = '.' method="POST">
        <div class="mb-3 ml-3">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary mt-3">Add Expense</button>
        </div>
    </form>
   
    </div>
</div>


{% endblock content %}
